TropicalServer/Service References/ServiceReference1/autoComplete.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAutoCompleteName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAutoCompleteNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAutoCompleteNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAutoCompleteName2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAutoCompleteName2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAutoCompleteName2Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getAutoCompleteNameSoapIn">
    <wsdl:part name="parameters" element="tns:getAutoCompleteName" />
  </wsdl:message>
  <wsdl:message name="getAutoCompleteNameSoapOut">
    <wsdl:part name="parameters" element="tns:getAutoCompleteNameResponse" />
  </wsdl:message>
  <wsdl:message name="getAutoCompleteName2SoapIn">
    <wsdl:part name="parameters" element="tns:getAutoCompleteName2" />
  </wsdl:message>
  <wsdl:message name="getAutoCompleteName2SoapOut">
    <wsdl:part name="parameters" element="tns:getAutoCompleteName2Response" />
  </wsdl:message>
  <wsdl:portType name="autoCompleteSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAutoCompleteName">
      <wsdl:input message="tns:getAutoCompleteNameSoapIn" />
      <wsdl:output message="tns:getAutoCompleteNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAutoCompleteName2">
      <wsdl:input message="tns:getAutoCompleteName2SoapIn" />
      <wsdl:output message="tns:getAutoCompleteName2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="autoCompleteSoap" type="tns:autoCompleteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAutoCompleteName">
      <soap:operation soapAction="http://tempuri.org/getAutoCompleteName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAutoCompleteName2">
      <soap:operation soapAction="http://tempuri.org/getAutoCompleteName2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="autoCompleteSoap12" type="tns:autoCompleteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAutoCompleteName">
      <soap12:operation soapAction="http://tempuri.org/getAutoCompleteName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAutoCompleteName2">
      <soap12:operation soapAction="http://tempuri.org/getAutoCompleteName2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="autoComplete">
    <wsdl:port name="autoCompleteSoap" binding="tns:autoCompleteSoap">
      <soap:address location="http://localhost:60944/autoComplete.asmx" />
    </wsdl:port>
    <wsdl:port name="autoCompleteSoap12" binding="tns:autoCompleteSoap12">
      <soap12:address location="http://localhost:60944/autoComplete.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>